{% extends 'TermPaper/output.html' %}

{% block headtab %}
<th>Model name</th>
<th>Developer</th>
<th>Launched</th>
<th>Bit</th>
<th>clock_rate</th>
<th>Package</th>
<th>Function</th>
<th>Function</th>
{% endblock %}

{% block infotab %}
<td>{{el.name}}</td>
<td>{{el.developer}}</td>
<td>{{el.launched}}</td>
<td>{{el.bit}}</td>
<td>{{el.clock_rate}}</td>
<td>{{el.package}}</td>
<td><a href="{% url 'update' el.id %}" class="btn btn-warning">Edit</a></td>
<td><a href="{% url 'delete' el.id %}" class="btn btn-danger">Delete</a></td>
{% endblock %}